{% extends 'base.html' %}
{% block header %}
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <a href="{% url 'index' %}" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="/static/img/logo.png" alt=""> -->
                <h1 class="sitename">看画猜作者</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'analyze' %}" class="active">Upload</a></li>
                    <li><a href="https://gitee.com/gaopursuit">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>
{% endblock %}

{% block content %}
    <link href="/static/css/analyze.css" rel="stylesheet">

    <main class="analyze">

        <section class="block">
        </section>
        <section class="analyze">
            <h1>请上传你需要识别的画作</h1>
            <p class="lead">“抽象是艺术史上的自然进步，然而算法捕捉到了这一点”</p>
            <form id="uploadForm" action="{% url 'analyze' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: #212529;"
                       onclick="document.getElementById('fileInput').click();">上传图片</a>
                    <input type="file" id="fileInput" name="image" style="display: none;" accept="image/*"
                           onchange="document.getElementById('uploadForm').submit();"/>
                </p>
            </form>
            <div id="imageContainer">
                {% if image_url %}
                    <img src="{{ image_url }}" alt="Uploaded Image" style="max-width: 500px; max-height: 500px; margin-top: 20px;">
                {% endif %}
            </div>
            <div class="testimonial-item">
                <div class="testimonial-item">
                    <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <div>
                        <img src="/static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                    </div>
                </div>
            </div>
            <ul>
                <li><strong>Author Name:</strong> {{ result.author }}</li>

                <li><strong>Notable Works:</strong>
                    <ul>
                        {% for work in result.notable_works %}
                            <li>{{ work }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li><strong>Birthday:</strong> {{ result.birth_date }}</li>
                <li><strong>Deathday:</strong> {{ result.death_date }}</li>
            </ul>
        </section>
    </main>

    <script>
        function handleFileUpload(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');                        // 创建文件读取器
                    img.src = e.target.result;
                    img.style.maxWidth = '500px';                                     // 设置图片最大宽度和高度
                    img.style.maxHeight = '500px';
                    img.style.marginTop = '20px';                                     // 设置图片顶部边距
                    const imageContainer = document.getElementById('imageContainer'); // 获取图片显示容器
                    imageContainer.innerHTML = '';                                    // 清空容器中的现有内容
                    imageContainer.appendChild(img);                                  // 将新上传的图片添加到容器中
                };
                reader.readAsDataURL(file);
            }
        }

    </script>


{% endblock %}


{% block footer %}
    {% include 'footer.html' %}
{% endblock %}